

 /* body{ 
     background-color:wheat ;
 } */
 
 .container{
     
     background-color:black;
     height:700px;
     width: 900px;
  
 }

.mancala-board{
    font-size: 40px;
    background-color: greenyellow;
    min-height: 50px;
    padding-top: 100px;
}
.pits-group-A,
.pits-group-B {
    display: flex;
    justify-content:space-around;
    
    margin:20px;
}
  

 .pits-group-A{
     min-height: 55px;
     background-color:violet;
 }

 .pits-group-B{
    min-height: 55px;
    background-color:blue;
 }
.pit {
    text-align: center;
    background-color: coral;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-top:auto;
    margin-bottom: auto;
}
.mancala{
    background-color: cyan;
    text-align: center;
    border-radius: 40%;
    height: 170px;
    width: 110px;
}
 