*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color:#E5E5E5;
}
.container{
     margin-top: 20px;
     font-family: Arial, Helvetica, sans-serif;
     
   
 }
.mancala-board{
    background-image: url('images/YinYan.svg');
    
    font-size: 60px;
    position: relative;
    text-align: center;
    width: 613.93px;
    height: 617.87px;
    margin: auto;
}
.pit{
    position:absolute;
    text-align: center;
    border-radius: 50%;
    width: 76.03px;
    height:76.03px;

}
.mancala{
    position:absolute;
    width: 118px;
    height: 176.31px;
    border-radius: 50%;
    transform: rotate(-60deg);
}
.side-A{
    color:white
}
.side-B{
    color: gray;
}

[id='0']{
   
    margin-top: 241.21px;
    margin-left: 16.44px;
}
[id='1']{
    margin-top: 341.96px;
    margin-left: 30.43px;;  
}
[id='2']{
    margin-top: 432.92px;
    margin-left: 83.6px;;
     
}
[id='3']{
    margin-top:496.35px;
    margin-left: 169.42px;;
      
}
[id='4']{
    margin-top:524.34px;
    margin-left: 267.84px;; 
      
}
[id='5']{  
    margin-top:496.35px;
    margin-left:360.2px;
      
}
[id='7']{
    margin-top:300.38px;
    margin-left:521.47px;
}
[id='8']{
    margin-top:199.63px;
    margin-left:507.48px;
      
}
[id='9']{
    margin-top:108.68px;
    margin-left:454.3px;
      
}
[id='10']{
    margin-top:45.24px;
    margin-left:368.48px;
      
}
[id='11']{
    margin-top:17.26px;
    margin-left:270.06px;
      
}
[id='12']{
    margin-top:45.24px;
    margin-left:177.71px;
      
}
[id='13']{
    margin-top: 135px;
    margin-left: 165px;
}
[id='6']{
    margin-top: 319.08px;
    margin-left: 335px;
}



.welcome{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.817);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    font-size: 3rem;
    flex-direction: column;
    cursor: pointer;
}
p{
    font-size: 1.5rem;
    margin-top: 00px;
}
iframe{
   border-radius: 50%; 
}
.noshow{
    display: none;
}



.winning-message{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.817);
    
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    font-size: 3rem;
    flex-direction: column;
    cursor: pointer;
}
.show-message{
    display:flex;
}
iframe{
    border-radius: 50%;
    width: 200px;
    height:200px;
}
button {
    background-color:#E5E5E5;
    color: rgb(80, 79, 79);
    width: 150px;
    height:150px;
    border-radius: 50%;
    font-size: 2.5rem; 
    border: none;

    
}
button:hover{
    background-color: rgb(80, 79, 79);
    color: #E5E5E5;
}
#start-button{
    margin-bottom: 300px;
}

h2{
    text-align: center;
    
}

.Aturn{
color: gray;
}
.Bturn{
color:white;
}